@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

header{
  background-color: rgb(79, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
}
.nav-link{
  color: white;
  margin: 0 3.3rem;
  font-weight: 300;
  font-size: 0.85rem;
}
a{
  text-decoration: none;
}
#__next{
  margin-top: 4rem;
  width: 100%
}
body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
button{
  padding:0;
}
/* ====================== featured page ===================== */
.home{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  width: 100%;
}
h1{
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 0
}
.home-h3{
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
}
.home-buttons{
  margin-top: 1.2rem;
}
.home-buttons button{
  margin: 0 0.7rem;
  border: none;
  background: transparent;
  color: rgb(74, 122, 225);
  font-size: 1.2rem;
}
.home-buttons button:hover{
  text-decoration: underline;
}
.home-img{
  width: 40rem;
  height: 20rem;
  object-fit: cover;
  margin: 0
}
/* ========================= latest page ======================= */
#latest{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.white{
  background-color: white;
  color: black;
}
.latest-img1{
  object-fit: cover;
  width: 42rem;
  height: 25rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.latest-img2{
  object-fit: cover;
  width: 31rem;
  height: 30rem;
}
.latest-img3{
  object-fit: cover;
  width: 31rem;
  height: 30rem;
}
/* ================================ all products ====================== */
#all-products-page{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#all-products-page h1{
  margin: 0
}
#all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.indv-product{
  width: 26rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
.product-page-img{
  width: 18rem;
  height: 15rem;
  object-fit: contain;
  border: 1px solid gray;
  border-radius: 15px;
}
.products-button button{
  background-color: rgb(49, 105, 211);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
}
/* ================= iphone page ============= */
.iphone-img{
  object-fit: cover;
}
/* ================= show page ============= */
.show-page{
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-left, .show-right{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1rem
}
.show-right{
  width: 24rem;
  height: 40rem;
}
.show-right p, li {
  font-size: 1.2rem;
}
.show-img{
  width: 40rem;
  height: 27rem;
  object-fit: contain;
}
.gallery-img{
  max-width: 100%;
  max-height: 100%
}
.gallery{
  display: flex;
  gap: 10px;
  flex-grow: 0;
  margin: 10px
}
.gallery-button{
  border: 1px solid gray;
  height: 5rem;
  padding: 2px;
  cursor: pointer;
}
.show-button{
  background-color: rgb(49, 105, 211);
  color: white;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  font-size: 1.1rem;
}
.show-button:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(49, 105, 211);
  text-decoration: underline;

}